.footer {
  background-color: var(--bg-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
.footer .container {
  display: flex;

  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.footer-container-logo {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.footer-container {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    align-items: center;
    // width: calc(100% / 2);
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}
.footer-container-sub {
  // margin-left: 70px;
  @media screen and (min-width: 768px) {
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer-logo {
  text-align: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  // font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--active-color);
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    line-height: 1.2;
    font-size: 26px;
    text-align: left;
  }
}
.footer-logo2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  // font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--inactive_btn_color);
  @media screen and (min-width: 1200px) {
    line-height: 1.2;
    font-size: 26px;
  }
}
.footer-item-white {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-white-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--active-color);
  }
}
.footer-list {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.footer-li {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--active-color);
  }
}

.footer-title {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-soc-list {
  display: flex;
  justify-content: center;
}
.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}
.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
  &:hover {
    background-color: var(--active-color);
  }
  &:hover .footer-soc-icon {
    fill: #ffffff;
  }
  &:focus {
    background-color: var(--active-color);
  }
  &:focus .footer-soc-icon {
    fill: #ffffff;
  }
}
.footer-soc-icon {
  fill: #ffffff;
  transition: fill 250ms var(--timing-function);
}
.footer-sub {
  flex-direction: row;
}
.footer-input {
  width: 100%;

  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 15px;
  color: #afb1b8;
  outline-style: none;
  &:focus {
    border-color: var(--active-color);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
}

.sub-button {
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 7px;
  padding-bottom: 10px;
  background: #188ce8;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  border: none;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms, color 800ms;
  &:hover {
    background: #1c79c5;
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    display: inline;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-sub-icon {
  margin-left: 10px;
  transform: translateY(+5px);
}
