.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ececec;
  padding-top: 6px;
  padding-bottom: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 19px;
    padding-bottom: 19px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
// .content {
//   // justify-content: center;
//   align-items: center;
// }
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;

  letter-spacing: 0.03em;
  color: var(--active-color);
  font-size: 24px;
  line-height: 1.16px;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 95px;
  }
}
.header-logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  @media screen and (min-width: 1200px) {
    line-height: 1.2;
    font-size: 26px;
  }
}
.open_menu__icon {
  transition: fill 300ms;
}
.menu-open-btn {
  margin-left: auto;
  border: 0;
  background: transparent;
  padding-right: 0;
  &:hover .open_menu__icon {
    fill: var(--active-color);
  }
  &:focus .open_menu__icon {
    fill: var(--active-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.menu-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  align-items: baseline;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--active-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.contacts-list__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 8px;
}
.contacts-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--active-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 10px;
  }
}

.active-link {
  color: var(--active-color);
}
.active-link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -34px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-color);
    opacity: 1;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 25px;
  // overflow-y: auto;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.mob-menu-top {
  width: 100%;
}
.close_menu__icon {
  transition: fill 300ms;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  border: 0;
  background: transparent;
  padding-right: 0;
  &:hover .close_menu__icon {
    fill: var(--active-color);
  }
  &:focus .close_menu__icon {
    fill: var(--active-color);
  }
}

.menu-open-btn {
  margin-left: auto;
  border: 0;
  background: transparent;
  padding-right: 0;
}
.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.active-color-link {
  color: var(--active-color);
}
.mob-contacts-list {
  margin-bottom: 64px;
}
.mob-contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--active-color);
}
.mob-contacts-list__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}

.mob-soc-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.mob-soc-list__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  position: relative;
  &:not(:first-child)::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: -10px;
    width: 1px;
    height: 100%;
    border-radius: 2px;
    background-color: rgba(33, 33, 33, 0.2);
    opacity: 1;
  }
}
.mob-soc-list__link {
  color: var(--active-color);
  position: relative;
}
.no-scroll {
  overflow: hidden;
}
// .mob-soc-list {
//   display: flex;
//   flex-direction: row;
//   column-gap: 20px;
// }

// .mob-soc-list__item {
//   position: relative;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.22;
//   letter-spacing: 0.02em;
// }
// .mob-soc-list__link {
//   color: #2196f3;
// }
// .mob-soc-list__link:not(:first-child)::before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   left: -10px;
//   width: 1px;
//   height: 22px;
//   background-color: rgba(33, 33, 33, 0.2);
// }
