.hero {
  max-width: 1600px;

  background: var(--bg-hero-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/index/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  margin: 0 auto;
  height: 400px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/index/hero-bg-mob-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/index/hero-bg-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image/index/hero-bg-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../image/index/hero-bg-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../image/index/hero-bg-2x.jpg);
    }
  }

  background-size: cover;
}
.hero__title-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin: 0 auto;
  text-align: center;
  max-width: 360px;

  text-transform: uppercase;
  color: var(--bg-white-color);
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 700px;
  }
}
.hero__btn {
  color: var(--bg-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--active-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms, color 800ms;
  &:hover {
    background: #1c79c5;
  }
}
