.positive {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.positive-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.positive-list__group {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positive-list__item {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.positive-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}

.positive-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
  // margin-bottom: 30px;
}
