.positive {
  padding-top: 94px;
  /* background-color: aqua; */
}
.positive-list {
  display: flex;
}
.positive-list__group {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.positive-list__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.positive-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}
.positive-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}
